



.jumbotron {
    height: 10vh;
}

.jumbotron-fluid h1 {
    font-size: 35px;
    text-align: center;
    color: rgb(202, 199, 199);
}

.jumbotron-fluid p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 10px;
    color: rgb(202, 199, 199);
    border-bottom: 2px solid rgba(158, 98, 21, 0.863);
}

.container .nav-link {
    font-size: 20px;
    margin-left: 80px;
}

.nav-link:hover,
.nav-link:focus {
    border-bottom: 2px solid rgba(158, 98, 21, 0.863);
    transition: background-color 0.2s, color 0.2s;
    padding-bottom: 2px;
}

.section-cards {
    background-color: #f5f5f0;
}

.intro-cards {
    margin-top: 40px;
    margin-bottom: 30px;
}

.intro-cards h1 {
    margin-bottom: 15px;
}

.card {
    background-color: #3d3d29;   
}

.card-title,
.card-subtitle,
.card-text {
    color: #ffffff;
}

.card-link {
    color: rgba(158, 99, 21, 0.911);    
}

.card img{
    max-width: 100%;
    height: auto;
}